<div>
    <h3>Enrollees</h3>
    <p>List of Enrollees !</p>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col" *ngFor="let headerstr of tableHeaders">{{headerstr}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let enrollee of listData">
            <th scope="row" style="max-width:200px;">{{enrollee.id}}</th>
            <td>{{enrollee.name}}</td>
            <td>{{enrollee.active ? 'Active' : 'Inactive'}}</td>
            <td>{{enrollee.dateOfBirth | date}}</td>
            <td><a class="btn" [routerLink]="[enrollee.id]"><span class="material-icons">create</span></a></td>
          </tr>
        </tbody>
    </table>
</div>
